
  <br><br><br><br>

  <ul class="rainbow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="footer">
  <p class="text-center">
      <abbr title="Linkedin"><a href="https://ca.linkedin.com/pub/rick-goeldner/4/97/806"><img class="soicon" src='image/Linked.png' width="50px"></a></abbr>
      <abbr title="Click to send me an email"><a href=""><img class="soicon" src='image/@.png' width="50px"></a></abbr>      
      <abbr title="Linkln"><a href=""><img class="soicon" src='image/Recycle.png' width="50px"></a></abbr>
  </p>
  <p class="text-center" style="font-size:16px;color:grey;">Copyright © 2015 NRG Innovative Solutions Corp.</p>
  <p class="text-center" style="font-size:16px;color:grey;">Phone: %l/phone | 25 Breckonwood Crescent, Thornhill, ON L3T5G8 </p>
</div>