
  <br><br><br><br>

  <ul class="rainbow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="footer">
    <ul class="footer-menu">
          <li><a href='index.html'>Home</a></li> |
          <li><a href='about.html#about'>About</a></li> |
          <li><a href='press-controls.html'>Press Controls</a></li> |
          <li><a href='production-data-acquisition-scada.html'>Production & Data Acquisition</a></li> |
          <li><a href='automated-picking.html'>Automated Picking</a></li> |
          <li><a href='remote-alarm.html'>Remote Alarm</a></li> |   
          <li><a href='sr-ed.html'>Tax Incentive</a></li> |
          <li><a href='about.html#contact'>Contact</a></li>
    </ul>
    <br>
  <p class="text-center" style="font-size:16px;color:grey;">Copyright © 2015 NRG Innovative Solutions Corp.</p>
  <p class="text-center" style="font-size:16px;color:grey;">Phone: %l/phone | 25 Breckonwood Crescent, Thornhill, ON L3T5G8 </p>
</div>