
    <p class="style-1">
      
    <div class="row">
      <div class="col-sm-5">
        <a href="index.html"><img src="image/logo.png" height="160px" class="img-responsive"></a>
      </div>
      <div class="col-sm-7">      
        <p class="text-right" style="margin-top:5px;">
          <a href="http://www.racoman.com/"><img src="image/raco.png" height="90px"></a>
          <a href="http://www.bosch.com/"><img src="image/rex.jpg" height="90px" style="margin-left:20px;"></a>
        </p>
      </div>
    </div>

    <div id='cssmenu' style="margin-bottom:0;">
      <ul>
         <li><a href='index.html'><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href='press-controls.html'>Press Controls</a></li>
          <li><a href='production-data-acquisition-scada.html'>Production & Data Acquisition</a></li>
          <li><a href='automated-picking.html'>Auto-Picking</a></li>          
          <li><a href='remote-alarm.html'>Remote Alarm</a></li>          
          <li><a href='scientific-research-experimental-development-tax-incentive.html'>Tax Incentive</a></li>
          <li><a href='about.html#contact'>Contact</a></li>
      </ul>
    </div>