
    <p class="style-1">
      
    <div class="row">
      <div class="col-sm-5">
        <a href="index.html"><img src="image/logo.png" height="160px" class="img-responsive"></a>
      </div>
      <div class="col-sm-7">      
        <p class="text-right" style="margin-top:5px;">
          <a href="http://www.racoman.com/"><img src="image/raco.png" height="90px"></a>
          <a href="http://www.bosch.com/"><img src="image/rex.jpg" height="90px" style="margin-left:20px;"></a>
        </p>
      </div>
    </div>

    <div id='cssmenu' style="margin-bottom:0;">
      <ul>
         <li class='active'><a href='index.html'>Home</a></li>
         <li><a href='about.html'>About</a></li>
         <li><a href='press-controls.html'>Press & related controls</a></li>
         <li><a href='production-data-aquisition.html'>Production & Data Aquisition</a></li>
         <li><a href='automated-warehouse-picking.html'>Automated Order Picking</a></li>
         <li><a href='project.html'>Project</a></li>
      </ul>
    </div>