    <div id='cssmenu' style="margin-bottom:0;">
      <ul>
         <li class='active'><a href='index.html'>Home</a></li>
         <li><a href='about.html'>About</a></li>
         <li><a href='press-controls.html'>Press and related controls</a></li>
         <li><a href='production-data-aquisition.html'>Production & Data Aquisition</a></li>
         <li><a href='automated-warehouse-picking.html'>Automated Warehouse</a></li>
         <li><a href='project.html'>Project</a></li>
      </ul>
    </div>