#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}


.dotted {
	padding: 2px 0 10px 0;
	margin-bottom: 30px;
	  -webkit-box-sizing: content-box;
	  -moz-box-sizing: content-box;
	  box-sizing: content-box;
	  border: none;
	  color: rgba(255,255,255,1);
	  -o-text-overflow: clip;
	  text-overflow: clip;
	  background: -webkit-linear-gradient(90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), -webkit-linear-gradient(180deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
	  background: -moz-linear-gradient(0deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), -moz-linear-gradient(-90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
	  background: linear-gradient(0deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), linear-gradient(-90deg, rgba(255,0,102,0) 20%, rgba(255,0,102,0.0980392) 20%, rgba(255,0,102,0.0980392) 40%, rgba(255,0,102,0.2) 40%, rgba(255,0,102,0.2) 60%, rgba(255,0,102,0.4) 60%, rgba(255,0,102,0.4) 80%, rgba(255,0,102,0.6) 80%), rgb(255, 204, 0);
	  background-position: auto auto;
	  -webkit-background-origin: padding-box;
	  background-origin: padding-box;
	  -webkit-background-clip: border-box;
	  background-clip: border-box;
	  -webkit-background-size: 100% 100%;
	  background-size: 100% 100%;
}




.tag-green {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 22px;
  position: relative;
  content: "";
  cursor: pointer;
  margin: 0 13px 0 0;
  padding: 10px 28px 10px 20px;
  border: none;
  -webkit-border-radius: 4px 1px 1px 4px;
  border-radius: 4px 1px 1px 4px;
  font: normal 20px/24px 'Dosis', sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #ed6b48;
  -webkit-box-shadow: 0 5px 0 0 #ff314d , 5px 5px 0 0 #ff314d ;
  box-shadow: 0 5px 0 0 #ff314d , 5px 5px 0 0 #ff314d ;
}

.tag-green::before {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 1;
  width: 30px;
  height: 30px;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 6px;
  right: -16px;
  border: none;
  -webkit-border-radius: 1px 1px 4px;
  border-radius: 1px 1px 4px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ed6b48;
  -webkit-box-shadow: 0 6px 0 0 #ff314d ;
  box-shadow: 0 6px 0 0 #ff314d ;
  text-shadow: none;
  -webkit-transform: rotateY(1deg) rotateZ(-45deg)   ;
  transform: rotateY(1deg) rotateZ(-45deg)   ;
}

.tag-green::after {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  z-index: 2;
  width: 12px;
  height: 12px;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 16px;
  right: 0;
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #fcfcfc;
  -webkit-box-shadow: 5px 5px 0 0 #ff314d inset;
  box-shadow: 5px 5px 0 0 #ff314d inset;
  text-shadow: none;
}

.tag-green:hover{
 -webkit-box-shadow: 0 5px 0 0 #ffa314 , 5px 5px 0 0 #ffa314 ;
  box-shadow: 0 5px 0 0 #ffa314 , 5px 5px 0 0 #ffa314 ;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Passero One", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  color: rgba(237,196,72,1);
  text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}



hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.style-three {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}



.enjoy-css2 {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 170px;
  height: 50px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #c72222;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font: normal 20px/50px "Advent Pro", Helvetica, sans-serif;
  color: #c72222;
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css2:hover {
  color: rgba(255,255,255,1);
  background: #c72222;
}

.enjoy-css2:active {
  border: 2px solid rgba(33,224,163,1);
  background: #c72222;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}



.rainbow ul {
  list-style:none;
  width:100%;
  font-size:0;
  /*margin: -10px 0 -50px 0 ;*/
}
.rainbow li {
  display:inline-block;
  width:20%;
  height:5px;
  margin:-3px;
}
.rainbow li:nth-child(1) {
  background:#2ecc71;
}
.rainbow li:nth-child(2) {
  background:#3498db;
}
.rainbow li:nth-child(3) {
  background:#f1c40f;
}
.rainbow li:nth-child(4) {
  background:#e74c3c;
}
.rainbow li:nth-child(5) {
  background:#9b59b6;
}



.retro {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  border: none;
  font: normal 82px/normal "Anton", Helvetica, sans-serif;
  color: rgb(112, 112, 112);
  text-align: center;
  text-transform: uppercase;
  -o-text-overflow: clip;
  text-overflow: clip;
  letter-spacing: 10px;
  text-shadow: 4px 4px 0 rgb(238,238,238) , 6px 6px 0 rgb(112,112,112) ;
}


@media (max-width: 500px) {
  .retro {
    font-size: 20px;
  }
}




.btnnew {
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 22px;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  width:95px;
  height: 95px;
}

.blue {
  color: #55acee;
  border: 2px #55acee solid;
}
.blue:hover {
  background-color: #55acee;
  color: #fff
}
.red {
  color: #e74c3c;
  border: 2px #e74c3c solid;
}
.red:hover {
  color: #fff;
  background-color: #e74c3c;
}
.purple {
  color: #9b59b6;
  border: 2px #9b59b6 solid;
}
.purple:hover {
  color: #fff;
  background-color: #9b59b6;
}
.green {
  color: #2ecc71;
  border: 2px #2ecc71 solid;
}
.green:hover {
  color: #fff;
  background-color: #2ecc71;
}


.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #c72222;
  height: 6px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}




.style-1:before, .style-1:after {
position: absolute;
content: '';
height: 5px;
top: 0;
left: 0;
right: 0;
}

.style-1:before {
background: linear-gradient(90deg, #1abc9c 15%, #2ecc71 15%, #2ecc71 12%, #3498db 12%, #3498db 32%, #9b59b6 32%, #9b59b6 35%, #34495e 35%, #34495e 55%, #f1c40f 55%, #f1c40f 59%, #e67e22 59%, #e67e22 63%, #e74c3c 63%, #e74c3c 82%, #ecf0f1 82%, #ecf0f1 92%, #95a5a6 92%);
}
